---
import { InternalLink } from '~components/link';
import { Heading1 } from '~components/typography';
import { BaseLayout } from '~layouts/BaseLayout';

---
<BaseLayout title='My playground'>
  <Heading1 extraClasses="mt-10">Playground</Heading1>
  <section class="mt-10">
  <ul class="list-disc">
    <li>
      <InternalLink href="/playground/qwik-test">Qwik</InternalLink>
    </li>
  </ul>
</section>
</BaseLayout>
