---
import { BaseLayout } from '~layouts/BaseLayout';
import { Counter } from '~components/qwik/counter';
import { Heading1 } from '~components/typography';

---
<BaseLayout title='Qwik / Astro playground'>
  <Heading1 extraClasses='mt-10'>Qwik Playground</Heading1>
  <section class="mt-20">
    <h2>Here's a Qwik counter:</h2>
    <Counter />
  </section>
</BaseLayout>
