---
import ExternalLink from '~components/ExternalLink.astro';
import Layout from '~layouts/Layout.astro';
---

<Layout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <main class="px-4 md:px-0 md:mx-[20vw]">
    <h1 class="text-3xl mt-10 md:mt-32">Blog</h1>
    <p class="mt-10">Coming soon...</p>
    <p class="mt-10">
      Need to organize my scattered publications... You can find them on the <a
        href="/"
        class="underline">hompage</a
      >.
    </p>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
