---
import ExternalLink from '~components/ExternalLink.astro';
import Layout from '~layouts/Layout.astro';
---

<Layout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <main class="px-4 md:px-0 md:mx-[20vw]">
    <h1 class="text-3xl mt-10 md:mt-32">About</h1>
    <p class="mt-10">Hey there, I'm Yoav.</p>
    <p class="mt-10">You can find me all over the web as HamatoYogi.</p>
    <p class="mt-10">
      I've been a computer geek and a techie my entire life. However, my
      professional Internet and startup journey started somewhere in late 2009
      when during my University studies I was the webmaster for the Israeli
      Meuseam for Comics. Not long after that, I found myself doing SEO,
      Marketing, Ecommerce, and oddjob dev work, sometimes as a freelancer
      others as an employee.
    </p>
    <p class="mt-10">
      For more about my tech origin story, check out my post:
      <ExternalLink
        href="https://medium.com/the-hamato-yogi-chronichels/a-tale-of-an-elder-millennial-how-i-started-my-tech-journey-part-1-b07a339957d1"
      >
        "A Tale of An Elder Millennial: How I Started My Tech Journey — Part 1"
      </ExternalLink>
    </p>
    <p class="mt-10">
      Later on I went to work at some startups... More on that soon when I
      finish up <a href="/work">Work</a> section 😅...
    </p>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
