---
import Layout from '~layouts/Layout.astro';
import ExternalLink from '~components/ExternalLink.astro';
---

<Layout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <main class="md:mx-[20vw]">
    <h1 class="text-3xl mt-10 md:mt-32">Appearences</h1>
    <ul role="list" class="space-y-4 mt-10 md:mt-20 list-disc">
      <li>
        <ExternalLink href="https://www.youtube.com/watch?v=srueFUnJ8Jo">
          React & React Native IL Meetup | 23/1/19 - <b class="font-bold"
            >"Next.js Stories from the Trenches"</b
          >
        </ExternalLink>
      </li>
      <li>
        <ExternalLink
          href="https://topenddevs.com/podcasts/javascript-jabber/episodes/do-you-have-dev-fomo-ft-yoav-ganbar-jsj-510"
        >
          JS Jabber:
          <b class="font-bold">"Do You Have Dev FOMO?"</b>
        </ExternalLink>
      </li>
      <li>
        <ExternalLink href="https://rss.com/podcasts/frontend-land/246565/">
          Frontend Land, Season 1 Episode 8:
          <b class="font-bold"> "Next.js"</b> (Hebrew)
        </ExternalLink>
      </li>
      <li>
        <ExternalLink href="https://rss.com/podcasts/frontend-land/250321/">
          Frontend Land, Season 1 Episode 9:
          <b class="font-bold"> "Webpack Module Federaion with Zack Jackson"</b>
        </ExternalLink>
      </li>
      <li>
        <ExternalLink href="https://www.youtube.com/watch?v=AloxBdUQW-o">
          Next.js IL Meetup #1 | 16.5.2022 -
          <b class="font-bold">"The History of Next.js"</b> (Hebrew)
        </ExternalLink>
      </li>
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
