---
import { BaseLayout } from '~layouts/BaseLayout';
import { Heading1 } from '~typography/Heading1';
import { ExternalLink } from '~components/link';
import { formatDate } from 'src/utils/date-formatter';

interface Appearance {
  where: string;
  when: string;
  title: string;
  link: string;
}

const list: Array<Appearance> = [
  {
    where: 'Front Cast',
    when: 'Mar 25, 2024',
    title: 'When Frontend & AI meet with Yoav Ganbar (Hebrew)',
    link: 'https://open.spotify.com/episode/4Zxu68BQLUaDJJ7OkQGEjT?si=3ed4cd14f70647e2',
  },
  {
    where: 'Lo Techni Velo Bemikre (לא טכני ולא במקרה)',
    when: 'Feb 2, 2024',
    title: 'Developer Experience with Yoav Ganbar (Hebrew)',
    link: 'https://open.spotify.com/episode/3LE4rFE1XxwakoOezekboe?si=KqgKXNK9TZy7_WXGlw1Gsg',
  },
  {
    where: 'Armada.js conference, Serbia',
    when: 'Oct 5, 2023',
    title:
      'Frontend is dead, long live full stack by Yoav Ganbar | Armada JS 2023',
    link: 'https://youtu.be/rigtrVjgyV0?si=pz-4n19BDCxdubta',
  },
  {
    where: 'Qwik Israel Meetup #1',
    when: 'Jun 12, 2023',
    title:
      'Effortless Server Communication & Multithreading in Qwik - Yoav Ganbar',
    link: 'https://youtu.be/lEc2BM5HmJ8?si=n8UcosUmzEqVOAtU',
  },
  {
    where: 'Code Ryan Podcast',
    when: 'Jul 30, 2023',
    title:
      'Decoding Qwik: An In-depth Comparison with React and Next JS | Yoav Ganbar',
    link: 'https://youtu.be/WYrSccfpxFs?si=H5ezGq4nlQj9OeQv',
  },
  {
    where: 'Builder.io live stream',
    when: 'Jul 27, 2023',
    title: 'How to build a modern site with Next.js and Builder.io',
    link: 'https://www.youtube.com/watch?v=2py23Jf0Yyk',
  },
  {
    where: 'Builder.io live stream',
    when: 'Dec 8, 2022',
    title: 'Resumable React - Leveraging the React ecosystem with Qwik',
    link: 'https://www.youtube.com/watch?v=IGIPBAWRw_M',
  },
  {
    where: 'React & React Native IL Meetup',
    when: 'Jan 23, 2019',
    title: 'Next.js Stories from the Trenches',
    link: 'https://www.youtube.com/watch?v=srueFUnJ8Jo',
  },
  {
    where: 'JS Jabber',
    when: 'November 23, 2021',
    title: 'Do You Have Dev FOMO?',
    link: 'https://topenddevs.com/podcasts/javascript-jabber/episodes/do-you-have-dev-fomo-ft-yoav-ganbar-jsj-510',
  },
  {
    where: 'Frontend Land',
    when: 'Jul 30 2021',
    title: 'Next.js (Hebrew)',
    link: 'https://rss.com/podcasts/frontend-land/246565/',
  },
  {
    where: 'Frontend Land',
    when: 'Aug 05 2021',
    title: 'Webpack Module Federaion with Zack Jackson & Yoav Ganbar (English)',
    link: 'https://rss.com/podcasts/frontend-land/250321/',
  },
  {
    where: 'Next.js IL Community Meetup #1',
    when: 'May 16 2022',
    title: 'The History of Next.js (Hebrew)',
    link: 'https://www.youtube.com/watch?v=AloxBdUQW-o',
  },
  {
    where: 'FedBites episode #6',
    when: 'Jul 5, 2022',
    title: 'Kent C. Dodds comes to Israel',
    link: 'https://www.youtube.com/watch?v=mkuXLFHHyuE',
  },
].sort((a, z) => new Date(z.when).getTime() - new Date(a.when).getTime());
---

<BaseLayout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <Heading1 extraClasses="mt-10 md:mt-32">Appearences</Heading1>
  <ul role="list" class="ml-4 mt-10 list-disc space-y-4 md:mt-20">
    {
      list.map(({ where, when, title, link }) => (
        <li>
          <ExternalLink href={link} withIcon>
            {title} | {where} - {formatDate({ date: when })}
          </ExternalLink>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
