---
import Layout from '~layouts/Layout.astro';
import Card from '~components/Card.astro';
---

<Layout title="Welcome to Astro." description="homepage">
  <main class="mx-[20vw]">
    <h1 class="text-3xl mt-32">Yoav Ganbar</h1>
    <h2 class="text-lg mt-4">Web Craftsman</h2>
    <ul role="list" class="link-card-grid grid gap-4 mt-20">
      <Card
        href="https://medium.com/@HamatoYogi"
        title="Medium Publication"
        body="See what I've written on Medium'"
      />
      <Card
        href="https://dev.to/hamatoyogi"
        title="Dev.to"
        body="My stuff on Dev.to"
      />
      <Card
        href="https://twitter.com/hamatoyogi/"
        title="HamatoYogi"
        body="My Twitter shenanigans"
      />
      <Card
        href="https://anchor.fm/fedbites"
        title="FedBites"
        body="I co-host FedBites"
      />
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
