---
import { Image } from '@astrojs/image/components';

import myImage from '~assets/yoav.png';

import Layout from '~layouts/Layout.astro';
import Card from '~components/Card.astro';
---

<Layout
  title="Yoav Ganbar | hamatoyogi.dev"
  description="Home page - Yoav Ganbar"
>
  <main class="px-4 md:px-0 md:mx-[20vw]">
    <figure
      class="w-20 h-20 mt-10 overflow-hidden rounded-full border border-zinc-400"
    >
      <Image
        src={myImage}
        format="webp"
        width={80}
        height={80}
        alt="a picture of Yoav  Ganbar"
      />
    </figure>
    <h1 class="text-4xl font-bold mt-10">Yoav Ganbar</h1>
    <h2 class="text-lg mt-4">Web Craftsman</h2>
    <ul role="list" class="link-card-grid grid gap-4 my-10 md:my-20">
      <Card href="/about" title="about" body="Get to know me a bit..." />
      <Card href="/blog" title="blog" body="Read the latest from my blog" />
      <Card
        href="/appearances"
        title="appearances"
        body="Pocasts, interviews, and talks I've given."
      />
      <Card
        href="https://medium.com/@HamatoYogi"
        title="Medium"
        body="See what I've written on Medium"
        isExternalLink
      />
      <Card
        href="https://dev.to/hamatoyogi"
        title="Dev.to"
        body="Me on Dev.to"
        isExternalLink
      />
      <Card
        href="https://twitter.com/hamatoyogi/"
        title="HamatoYogi"
        body="My Twitter shenanigans"
        isExternalLink
      />
      <Card
        href="https://anchor.fm/fedbites"
        title="FedBites Podcast"
        body="I co-host FedBites"
        isExternalLink
      />
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
  img {
    content-visibility: unset !important;
  }
</style>
