---
import { ExternalLink } from '~components/external-link';
import { BaseLayout } from '~layouts/BaseLayout';
import { H1 } from '~typography/H1';
---

<BaseLayout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <H1 extraClasses="mt-10 md:mt-32">Work</H1>
  <p class="mt-10">
    I'm currently working @ <a
      href="https://togetherr.com"
      target="_blank"
      rel="noopenner"
      class="underline inline-flex"
    >
      togetherr
    </a> as the lead Architect and Frontend developer.
  </p>
  <p class="mt-10">I'll add more of my work history soon...</p>
  <p class="mt-10">
    For now, you can check me out on <a
      href="https://www.linkedin.com/in/yoav-ganbar/details/experience/"
      class="underline">LinkendIn</a
    >.
  </p>
</BaseLayout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
