---
import ExternalLink from '~components/ExternalLink.astro';
import { Layout } from '~layouts/index';
---

<Layout
  title="Appearences | hamatoyogi.dev"
  description="Apperences, podcasts, interviews, and talks by Yoav Ganbar"
>
  <main class="px-4 md:px-0 md:mx-[20vw]">
    <h1 class="text-3xl mt-10 md:mt-32">Work</h1>
    <p class="mt-10">
      I'm currently working @ <a
        href="https://togetherr.com"
        target="_blank"
        rel="noopenner"
        class="underline inline-flex"
      >
        togetherr
      </a> as the lead Architect and Frontend developer.
    </p>
    <p class="mt-10">I'll add more of my work history soon...</p>
    <p class="mt-10">
      For now, you can check me out on <a
        href="https://www.linkedin.com/in/yoav-ganbar/details/experience/"
        class="underline">LinkendIn</a
      >.
    </p>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
