---
import { ExternalLink } from '~components/link';
import { BaseLayout } from '~layouts/BaseLayout';
import { Heading1 } from '~typography/Heading1';
---

<BaseLayout title="Work | hamatoyogi.dev" description="Where I work">
  <Heading1 extraClasses="mt-10 md:mt-32">Work</Heading1>
  <p class="mt-10">
    I am a partner at <ExternalLink href="https://reactive-dev.com"
      >ReactiveDev</ExternalLink
    >, a software development consultancy focusing on modern web technologies.
  </p>
  <p class="mt-10">
    Previously, I helped build <ExternalLink href="https://jux.io"
      >Jux</ExternalLink
    >.
  </p>
  <p class="mt-10">
    Beforehand, I was @ <ExternalLink href="https://builder.io"
      >Builder.io</ExternalLink
    > as a Developer Relations & Experience engineer.
  </p>
  <p class="mt-10">
    Before that I worked on <ExternalLink href="https://www.togetherr.com"
      >togetherr</ExternalLink
    >, a marketplace that connects creative teams with brands, which I helped
    build while working @ <ExternalLink href="https://fiverr.com"
      >Fiverr</ExternalLink
    >.
  </p>
  <p class="mt-10">
    Prior to that, I've also worked at: <ExternalLink
      href="https://capitolis.com/">Capitolis</ExternalLink
    >, <ExternalLink href="https://theculturetrip.com/"
      >Culture Trip</ExternalLink
    >, and <ExternalLink href="https://hedgewiz.co.uk/">HedgeWiz.</ExternalLink>
  </p>
  <p class="mt-10">
    You can find out more on my <ExternalLink
      withIcon
      href="https://www.linkedin.com/in/yoav-ganbar/details/experience/"
      >LinkendIn.</ExternalLink
    >
  </p>
</BaseLayout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
