@import 'tailwindcss';
@config '../../tailwind.config.js';

@custom-variant data-open (&[data-state='open']);
@custom-variant data-closed (&[data-state='closed']);

img {
  content-visibility: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-display: optional;
}

body {
  font-display: optional;
}
