---
export interface Props {
  title: string;
  body: string;
  href: string;
  isExternalLink?: boolean;
}

const { href, title, body, isExternalLink } = Astro.props as Props;
---

<li
  class="link-card group transition-all border border-zinc-800 hover:text-zinc-500 hover:border-zinc-500 dark:border-zinc-300 dark:hover:border-red-100 dark:hover:text-red-200"
>
  <a
    href={href}
    target={isExternalLink ? '_blank' : undefined}
    rel={isExternalLink ? 'noopener noreferrer' : undefined}
  >
    <h2 class="capitalize text-2xl">
      {title}
      <span>{isExternalLink ? '↗' : '→'}</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 0.15rem;
    background-size: 400%;
    border-radius: 0.5rem;
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: 0.35rem;
  }

  h2 {
    margin: 0;
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

  h2 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }

  .link-card:is(:hover, :focus-within) h2 span {
    will-change: transform;
    transform: translateX(2px);
  }
</style>
