---
---

<footer
  class="mt-14 p-4 border-t border-brand-800 flex items-center w-full gap-4 justify-center"
>
  <p>© 2022 HamatoYogi</p>
  <a href="https://twitter.com/hamatoyogi">
    <img src="/images/twitter-circle.svg" class="w-8 h-8 object-contain" />
  </a>
</footer>
