---
import { GithubLogo, TwitterLogo } from '~components/icons';

export interface Props {
  extraClass: string;
}

const { extraClass } = Astro.props as Props;
const year = new Date().getFullYear();
---

<footer
  class:list={[
    `mt-14 p-4 shadow-inner flex items-center w-full gap-4 justify-center`,
    `dark:text-lavender-gray`,
    extraClass,
  ]}
>
  <p>© {year} Yoav Ganbar</p>
  <a
    href="https://twitter.com/hamatoyogi"
    target="_blank"
    rel="noopener"
    aria-label="twitter logo"
  >
    <TwitterLogo />
  </a>
  <a
    href="https://github.com/hamatoyogi"
    target="_blank"
    rel="noopener"
    aria-label="github logo"
  >
    <GithubLogo />
  </a>
</footer>
