---
import { Sprite } from 'astro-icon';

export interface Props {
  extraClass: string;
}

const { extraClass } = Astro.props as Props;
---

<Sprite.Provider>
  <footer
    class:list={[
      `mt-14 p-4 shadow-inner flex items-center w-full gap-4 justify-center`,
      extraClass,
    ]}
  >
    <p>© 2022 HamatoYogi</p>
    <a href="https://twitter.com/hamatoyogi" target="_blank" rel="noopener">
      <Sprite name="logo-twitter" class="w-6 h-6 text-[#1DA1F2]" />
    </a>
    <a href="https://github.com/hamatoyogi" target="_blank" rel="noopener">
      <Sprite name="logo-github" class="w-6 h-6" />
    </a>
  </footer>
</Sprite.Provider>
