---
import { SEO } from 'astro-seo';
import Analytics from '@vercel/analytics/astro';

import '~style/tailwind.css';

/* FONTS */
import '@fontsource/inter';
import '@fontsource/inter/600.css';
import '@fontsource/space-grotesk';

import { seoConfig } from 'src/utils/seo-config';

import { Header } from '~components/header';
import { Footer } from '~components/footer';

export interface Props {
  /** Title of the page. */
  title: string;

  /** Specific OpenGraph page title. */
  ogTitle?: string;

  /** Description of the page. */
  description?: string;

  /** Image thumbnail for the page. */
  image?: {
    url: string;
    alt: string;
  };

  /** Whether or not to disable indexing */
  disableIndexing?: boolean;
}

const {
  title,
  ogTitle,
  description,
  image,
  disableIndexing = false,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <!-- Global meta tags. -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="jQNE4CcX2D5t6MN5NbHNQ0QE94jCKAlFijMceMHXswQ"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={title}
      description={description || seoConfig.description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type: seoConfig.type,
          image: image?.url || seoConfig.image.url,
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: image?.alt || seoConfig.image.alt,
        },
        optional: {
          siteName: seoConfig.siteName,
          description: description || seoConfig.description,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        creator: 'hamatoYogi',
      }}
    />

    <!-- Favicons. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <Analytics />
  </head>

  <body
    class:list={[
      'min-h-screen flex flex-col w-full overflow-x-hidden bg-white text-mine-shaft font-inter',
      'dark:bg-mirage dark:text-lavender-gray',
    ]}
  >
    <Header />
    <main class="px-6 pb-20 md:mx-[20vw] md:px-0">
      <slot />
    </main>
    <Footer extraClass="mt-auto" />
  </body>
</html>
