---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
import Navigation from '~components/Navigation.astro';
import { SEO } from 'astro-seo';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script type="text/partytown" async src="https://cdn.splitbee.io/sb.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />
  </head>

  <body class="bg-white dark:bg-slate-800 dark:text-white font-mono">
    <Navigation />
    <slot class="p-2 md:p-10 pb-20" />
    <footer
      class="mt-14 p-4 border-t border-brand-800 flex items-center w-full gap-4 justify-center"
    >
      <p>© 2022 HamatoYogi</p>
      <a href="https://twitter.com/hamatoyogi">
        <img src="/images/twitter-circle.svg" class="w-8 h-8 object-contain" />
      </a>
    </footer>
  </body>
</html>
