---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
import { SEO } from 'astro-seo';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />
  </head>

  <body class="bg-white dark:bg-slate-800 dark:text-white p-10">
    <nav class="flex justify-center font-mono font-bold">
      <ul class="flex mx-auto gap-4 p-10 uppercase">
        <li>
          <a
            class="border-b-2 transition-all border-b-transparent hover:border-brand-300"
            href="/">home</a
          >
        </li>
        <li>
          <a
            class="border-b-2 transition-all border-b-transparent hover:border-brand-300"
            href="/appearances">appearances</a
          >
        </li>
      </ul>
    </nav>
    <slot />
  </body>
</html>
