---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
import Navigation from '~components/Navigation.astro';
import { SEO } from 'astro-seo';
import Footer from '~components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script type="text/partytown" async src="https://cdn.splitbee.io/sb.js"
    ></script>
    <script is:inline>
      // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          image: '/images/hy-graffiti.jpeg',
          title: 'site image',
          type: 'Personal website',
        },
        image: {
          alt: 'site image',
        },
      }}
    />
  </head>

  <body
    class="min-h-screen flex flex-col bg-gradient-to-b from-white to-zinc-500 dark:from-zinc-900 dark:to-zinc-500 dark:text-white font-mono"
  >
    <Navigation />
    <slot class="p-2 md:p-10 pb-20" />
    <Footer extraClass="mt-auto" />
  </body>
</html>
