---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  href={href}
  class="inline-flex font-medium underline transition-all underline-offset-4 hover:text-dodger-blue dark:hover:text-melrose decoration-dodger-blue dark:decoration-melrose"
>
  <slot />
</a>
